<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h5>This is my about page</h5>
    <%= link_to 'Home page', root_path %>
  </body>
</html>
