<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> This is my home page </h1>
    <%= link_to 'About', about_path %>
    <%= link_to image_tag('satellite.png'), 'http://www.redhat.com' %>
    <%= link_to ('Red Hat Satellite'), 'http://www.redhat.com' %>
  </body>
</html>
